<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title><%= displayName %></title>
</head>

<body>
    <h2><%= description %></h2>
    <a href="/srv/info">Info</a><br>
<% if(SaaSAPI){ -%>
    <a href="/srv/subscriptions">Subscriptions</a><br>
<% } -%>
<% if(hana){ -%>
    <a href="/srv/database">Database</a><br>
<% } -%>
<% if(apiDest){ -%>
    <a href="/srv/destinations?destination=<%= projectName %>-nw">Destinations</a><br>
<% } -%>
<% if(sqlite){ -%>
    <a href="/sqlite/noauth">SQLite NoAuth</a><br>
    <a href="/sqlite/info">SQLite Info</a><br>
    <a href="/sqlite/links">SQLite Links</a><br>
<% } -%>
<% if(providerSubdomain !== "unknown"){ -%>
    <a href="https://<%= providerSubdomain %>.authentication.<%= providerRegion %>.hana.ondemand.com/config?action=who">Check <%= providerSubdomain %> authorities</a><br>
<% } -%>

</body>

</html>
